<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Punto Gráfico</title>
</head>
<body>
    <div th:fragment="crear-ordenes" class="formulario-creacion-ordenes">
        <form class="d-flex flex-column w-100 position-relative" style="max-width: 300px;" th:action="@{/}" method="post">
            <h3>¡Bienvenido a PG!</h3>
            <input type="text" name="" class="form-control mb-3" placeholder="Dato" required />
            <input type="text" name="" class="form-control mb-3" placeholder="Dato" required />
            <button type="submit" class="btn btn-primary">Crear</button>
        </form>
    </div>
</body>
</html>