<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home(key='asdghaer123riuhy12o34y12fh', username=${empleado.username})}">Punto Gráfico</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/crear-orden(key='asdghaer123riuhy12o34y12fh', username=${empleado.username})}">Crear orden</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/buscador(key='asdghaer123riuhy12o34y12fh', username=${empleado.username})}">Buscador</a>
                </li>
            </ul>
            <p class="text-primary">¡Bienvenido, <span th:text="${nombreEmpleado}"></span></span>!</p>
        </div>
    </div>
</nav>
</div>