<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/principal.css}"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <title>Punto Gráfico</title>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<form id="form-buscador">
    <div style="display: flex; gap: 10px; align-items: center;">
        <select id="tipoBusqueda" name="tipoBusqueda">
            <option value="ID">N° de orden</option>
            <option value="NOMBRE">Nombre</option>
            <option value="TELEFONO">Teléfono</option>
        </select>

        <input type="text" id="valorBusqueda" name="valorBusqueda" placeholder="Buscar..." />

        <button type="submit">Buscar</button>
    </div>
</form>

</body>
<script src="/js/buscador.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

</html>