<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/principal.css}"/>
    <link rel="stylesheet" th:href="@{/css/crear-orden.css}"/>
    <title>Punto Gráfico</title>
</head>
<body>
    <!--BARRA DE NAVEGACIÓN-->
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container-fluid d-flex align-items-center justify-content-center mb-4 mt-4">

        <form class="d-flex flex-column w-100 position-relative"
              style="max-width: 80%;"
              th:action="@{/guardar-orden}" method="post">

            <!-- Empleado -->
            <input type="hidden" name="empleadoId" th:value="${empleado.id}" />

            <!-- Cliente Nombre -->
            <label for="clienteNombre">Nombre del cliente *</label>
            <input type="text" class="form-control mb-3" name="clienteNombre" id="clienteNombre" required />

            <!-- Cliente Teléfono -->
            <label for="clienteTelefono">Teléfono *</label>
            <input type="text" class="form-control mb-3" name="clienteTelefono" id="clienteTelefono" required />

            <!-- Categoría Producto -->
            <label for="categoriaProducto">Categoría del producto</label>
            <select class="form-control mb-3"
                    name="categoriaProductoId"
                    id="categoriaProducto"
                    onchange="buscarProductoAsociado()"
                    required>
                <option value="">-- Seleccioná un tipo --</option>
                <option th:each="categoria : ${categoriasProductos}"
                        th:value="${categoria.idCategoriaProducto}"
                        th:text="${categoria.nombre}"></option>
            </select>

            <!--FORMULARIO PAPELERIA-->
            <div class="d-flex flex-column w-100 position-relative d-none"
                  id="form-papeleria"
                  style="max-width: 80%;">

                <!-- Tipo Color -->
                <label for="tipoColor">Tipo de color</label>
                <select class="form-control mb-3" name="tipoColor" id="tipoColor">
                    <option value="">-- Seleccionar --</option>
                    <option th:each="tipoColor : ${T(com.puntografico.pm.enums.TipoColor).values()}"
                            th:value="${tipoColor}" th:text="${tipoColor}">
                    </option>
                </select>

                <!-- Tipo Papeleria -->
                <label for="tipoPapeleria">Tipo de papelería</label>
                <select class="form-control mb-3" name="tipoPapeleria" id="tipoPapeleria">
                    <option value="">-- Seleccionar --</option>
                    <option th:each="tipoPapeleria : ${T(com.puntografico.pm.enums.TipoPapeleria).values()}"
                            th:value="${tipoPapeleria}" th:text="${tipoPapeleria}">
                    </option>
                </select>

                <!-- Detalle Otro -->
                <label for="detalleOtro">Detalle (si eligió otro tipo)</label>
                <input type="text" class="form-control mb-3" name="detalleOtro" id="detalleOtro" />

                <!-- Medida -->
                <label for="medida">Medida</label>
                <input type="text" class="form-control mb-3" name="medida" id="medida" />

                <!-- Enlace Archivo -->
                <label for="enlaceArchivo">Enlace al archivo</label>
                <input type="text" class="form-control mb-3" name="enlaceArchivo" id="enlaceArchivo" />

                <!-- Detalle -->
                <label for="detalle">Detalle adicional</label>
                <input type="text" class="form-control mb-3" name="detalle" id="detalle" />

                <!-- Cantidad -->
                <label for="cantidad">Cantidad</label>
                <input type="number" class="form-control mb-3" name="cantidad" id="cantidad" />

                <!-- Total -->
                <label for="total">Total</label>
                <input type="number" class="form-control mb-3" name="total" id="total" />

                <!-- Abonado -->
                <label for="abonado">Abonado</label>
                <input type="number" class="form-control mb-3" name="abonado" id="abonado" />

                <!-- Resta -->
                <label for="resta">Resta</label>
                <input type="number" class="form-control mb-3" name="resta" id="resta" readOnly />

                <!-- Botón -->
                <button type="button" id="btnAgregarPapeleria" class="btn btn-primary mt-2">Agregar producto a la orden</button>
            </div>

            <!-- Medio de Pago -->
            <label for="medioPago">Medio de pago (opcional)</label>
            <select class="form-control mb-3" name="medioPago" id="medioPago">
                <option value="">-- Seleccionar --</option>
                <option th:each="medio : ${T(com.puntografico.pm.enums.MedioPago).values()}"
                        th:value="${medio}" th:text="${medio}"></option>
            </select>

            <!-- Fecha Muestra -->
            <label for="fechaMuestra">Fecha de muestra</label>
            <input type="date" class="form-control mb-3" name="fechaMuestra" id="fechaMuestra" />

            <!-- Fecha Entrega -->
            <label for="fechaEntrega">Fecha de entrega *</label>
            <input type="date" class="form-control mb-3" name="fechaEntrega" id="fechaEntrega" required />

            <!-- Hora Entrega -->
            <label for="horaEntrega">Hora de entrega</label>
            <input type="time" class="form-control mb-3" name="horaEntrega" id="horaEntrega" />

            <input type="hidden" name="papeleriaId" id="papeleriaId">

            <!-- Botón -->
            <button type="submit" class="btn btn-primary mt-3">Guardar orden</button>
        </form>
    </div>

</body>
<script src="/js/crear-orden.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</html>